* {
  margin: 0;
  padding: 0;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

.bg {
  background: url("https://cdn.pixabay.com/photo/2017/08/18/18/56/dices-over-newspaper-2656028_1280.jpg");
  height: 58rem;
  width: 100vw;
  background-repeat: repeat;
  background-position: center;
  background-origin: center;
  background-size: cover;
  filter: blur(2px);
  -webkit-filter: blur(2px);
}

.container {
  background-color: rgba(0, 0, 0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  border: 2px solid transparent;
  border-radius: 0.3rem;
  position: absolute;
  top: 30rem;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
}
.heading {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}
form {
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

input {
  width: 60%;
  max-width: 20rem;
  height: fit-content;
  padding: 0.2rem 0.3rem;
  margin: 1rem auto 2rem auto;
  border: 2px solid transparent;
  border-radius: 0.3rem;
  font-size: 1.3rem;
}

.output {
  font-size: 1.3rem;
  background-color: whitesmoke;
  color: rgba(0, 0, 0, 0.8);
  width: fit-content;
  max-width: 35rem;
  margin: auto;
  height: fit-content;
  padding: 0.3rem 0.5rem;
  border: 2px solid tranparent;
  border-radius: 0.3rem;
}

.submitBtn {
  background-color: rgb(255, 255, 255, 0.7);
  border: 2px solid transparent;
  border-radius: 0.3rem;
  padding: 0.2rem 0.5rem;
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
  transition: 0.3s;
}

.submitBtn:hover {
  cursor: pointer;
  transform: scale(1.05);
  background-color: rgb(255, 255, 255, 0.85);
}
.emojiWrapper {
  margin: 0.5rem;
}
.emoji {
  height: 5rem;
  width: 5rem;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-origin: center;
}

/* Footer Section */

.creator {
  text-align: center;
  margin: 0.4rem;
  color: black;
}
.creator strong {
  color: hotpink;
}
.footerLink a {
  text-decoration: none;
  display: inline-block;
  padding: 1rem;
  font-size: 1.4rem;
  transition: 0.3s;
}

.footerLink a:hover {
  transform: scale(1.1);
}

footer li {
  font-size: 1.2rem;
  margin: 0rem 0.3rem;
}

footer {
  background-color: rgb(255, 255, 255, 0.7);
  padding: 1rem;
  border: 1px transparent;
  border-radius: 0.5rem;
  margin: 2rem;
}

footer ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-inline-start: 0px;
  margin-block-start: 0;
  margin-block-end: 0;
  flex-wrap: wrap;
}

.socialIcon {
  height: 2rem;
  width: 2rem;
}
@media (max-width: 490px) {
  .container {
    top: 32rem;
  }
}
@media (max-width: 450px) {
  .bg {
    height: 74rem;
  }
  .container {
    top: 40rem;
  }
}

@media (max-width: 375px) {
  .bg {
    height: 80rem;
  }
}
